<p> {{ description | emojify }}</p>
<p>
  <info-label
    label="Stars"
    [value]="stargazersCount">
  </info-label>
  &nbsp;
  <info-label
    label="Issues"
    [value]="openIssuesCount">
  </info-label>
  <span *ngIf="commentCount || commentCount === 0">
        &nbsp;
        <a [routerLink]="['/', org, repoName]" (mouseover)="prefetchComments(fullName)">
        View comments ({{ commentCount }})
        </a>
      </span>
  &nbsp;&nbsp;&nbsp;
  Submitted <!--{{ createdAt | amTimeAgo }}-->
  &nbsp;by&nbsp;
  <a [href]="userUrl">{{ username }}</a>
</p>
