<p *ngIf="loading" class="navbar-text navbar-right">
  Loading...
</p>
<span *ngIf="!loading && currentUser">
      <p class="navbar-text navbar-right">
        {{currentUser.login}}
        &nbsp;
        <a href="/logout">Log out</a>
      </p>
      <a
        class="btn navbar-btn navbar-right btn-success"
        routerLink="/submit">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
          &nbsp;
          Submit
      </a>
    </span>
<p *ngIf="!loading && !currentUser" class="navbar-text navbar-right">
  <a href="/login/github">Log in with GitHub</a>
</p>

